// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

// App
@import 'products';

// Global
body {
  padding-top: 70px;
}

main .container {
  margin-top: 200px;
}
// Bootstrap adjustments
form.button_to {
  display: inline;
}
